body{
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}
.commentlist group{
	clear: both;
	margin: 0 0 2em 0;
	padding: 0;
	list-style-type: none!important;
	margin-left: 0 !important;
}
li, ul, ol {
	color: #585555;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #585555;
	font-style: normal;
}
ol.commentlist, li.comment {
	clear: both;
	margin: 0 0 1em 0;
	padding: 0;
	list-style-type: none!important;
}

.comment-container {
	/*padding: 5px;*/
	border: 1px solid #CFCFCF;
	margin-bottom: 1em;
}
.comment-author {
	float: left;
	margin: 25px 10px 0 15px;
	max-width: 85px;
}
#comments .comment-author img {
	border: 1px solid #CFCFCF;
	padding: 3px;
}
#comments .fn {
	font-style: normal;
	text-align: center;
	font-size: 90%;
	margin: 10px 0 0 0;
	display: block;
}
.intro {
	width: 100%;
	height: 25px;
	margin-bottom: 20px;
}
.commentDate {
	float: left;
	margin: 0 0 0px 0;
	color: #b77a2b;
}
.comment-meta {
	margin: 0px 0 0px 120px;
	padding: 15px 20px 10px 20px;
	border-left: 1px solid #CFCFCF;
	min-height: 125px;
}



.wrap_result {
	background-color: #f0f2f0;
	border: 2px solid #2C8DB8;
	border-radius: 10px;
	padding: 20px;
	position: fixed;
	left: 35%;
	top:40%;
	width:300px;
	/*height: 80px;*/
	text-align: center;
	display: none;
	z-index: 5005
}

.borGreen {
	border: 2px solid green !important;
}

.commentlist .new_comment{
	background-color: #DFF3EF;
}
